//- -------------- Home Page ---------------- -//
//- ----------------------------------------- -//

extends ../layout/layout
include ../mixins/buttons
include ../mixins/big-slider


block content

    //- ALL THE PAGE CONTENT GOES HERE -//
    
    mixin bigSlider()